
<% content_for :header do %>

<div class="navbar-fixed">
    <nav class="navbar-dark indigo darken-2 z-depth-2">
        
        <div class="nav-wrapper">
            <a href="home.html" class="brand-logo">Coins</a>
            <a href="#" data-target="slide-out" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
        </div>
        
    </nav>
</div>

<% end %>

<div class="container">
    <%#Título da página%>
    <div class="center">
        <h2 class="mt-0" style="font-weight: 500">Help Desk</h2>
    </div>
    
    <div class="divider"></div>
    <br>

    <%#Campo de pesquisa%>
    <div class="row container mb-0">
        <div class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">search</i>
                    <input type="text" id="autocomplete-input" class="autocomplete">
                    <label for="autocomplete-input">Search</label>
                </div>
            </div>
        </div>
    </div>
    
    <%# Collapsibles  %>
    <ul class="collapsible popout">
        <li>
            <div class="collapsible-header"><i class="material-icons">help_outline</i>How do I send a new address?</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">help_outline</i>How do I report the visits of a address I've been to?</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">help_outline</i>How do I see other people's previous visits on my addresses?</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
    </ul>
    
</div>