
  <ul class="collection with-header">
  <li class="collection-header"><h4>Macroregions</h4> </li>
  <% @macroregions.each do |macroregion| %>
  <li class="collection-item">
      <%= macroregion.macroreg %>
      <%= link_to "Edit", edit_macroregion_path(macroregion) %>
      <%= link_to "Destroy", macroregion_path(macroregion), method: :delete, data:{confirm: "Are you sure?"} %></td>
  </li>
  <% end %>
  </ul>
  <%= link_to new_macroregion_path, class:"btn-floating waves-effect waves-light red right" do%><i class="material-icons">add</i> <%end%>
 
