<ul id="slide-out" class="side-nav">
    <li><div class="user-view">
        <div class="background">
            <img src="http://via.placeholder.com/300x100">
        </div>
        <a href="#name"><span class="white-text name">John Doe</span></a>
        <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li>
        <%= link_to  "Home", root_path %>
    </li>
    <li>
        <%= link_to  "Ovewview", overview_path %>
    </li>
    <li>
        <%= link_to  "Assignments", assignments_path %>
    </li>
</ul>