<p>
  <strong>Group # </strong>
  <%= @group.number %>
</p>
<p>
  <strong>Conductor:</strong>
  <%= @group.conductor %>
</p>
<p>
  <strong>Helper:</strong>
  <%= @group.helper %>
</p>

<%= link_to 'Back', groups_path %>