  <ul class="collection with-header">
  <li class="collection-header"><h4>Language</h4> </li>
  <% @idioms.each do |idiom| %>
    <li class="collection-item">
      <%= idiom.language %>
      <%= link_to "Edit", edit_idiom_path(idiom) %>
      <%= link_to "Destroy", idiom_path(idiom), method: :delete, data:{confirm: "Are you sure?"} %>
    </li>
  <% end %>
  </ul>
  <%= link_to new_idiom_path, class:"btn-floating waves-effect waves-light red right" do%><i class="material-icons">add</i> <%end%>
