<% content_for :header do %>

<div class="navbar-fixed">
    <nav class="nav-extended navbar-dark indigo darken-2 z-depth-2">
        <div class="nav-wrapper">
            <a href="home.html" class="brand-logo">Assignments</a>
            <a href="#" data-target="slide-out" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="dashboard.html">Dashboard</a>
                </li>
            </ul>
        </div>
        <div class="nav-content">
            <ul class="tabs tabs-transparent">
                <li class="tab">
                    <a href="#dashboard" class="active">At Work</a>
                </li>
                <li class="tab">
                    <a href="#all">Unassigned</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<% end %>

<!-- ABA 1 -->
<div id="all" class="col s12">
    <div class="container">
        
        <blockquote>
            <h4>Barra</h4>
        </blockquote>
        
        <ul class="collection with-header z-depth-3">
            <li class="collection-header">
                <div class="row valign-wrapper" style="margin-bottom: 0;">
                    <div class="col s8">
                        <h4>Barra 1</h4>
                    </div>
                    <div class="col s4">
                        <a class="waves-effect waves-teal btn-flat modal-trigger" href="#modal-assign-territory">Assign</a>
                    </div>
                </div>
            </li>
            <li class="collection-item">Augusto Ferreira</li>
            <li class="collection-item">Valeriano Alves</li>
            <li class="collection-item">Sortino Silva</li>
            <li class="collection-item">Ontero Johnes</li>
        </ul>
        
        <blockquote>
            <h4>Barra</h4>
        </blockquote>
        
        <ul class="collection with-header z-depth-3">
            <li class="collection-header">
                <div class="row valign-wrapper" style="margin-bottom: 0;">
                    <div class="col s8">
                        <h4>Barra 1</h4>
                    </div>
                    <div class="col s4">
                        <a class="waves-effect waves-teal btn-flat modal-trigger" href="#modal-assign-territory">Assign</a>
                    </div>
                </div>
            </li>
            <li class="collection-item">Augusto Ferreira</li>
            <li class="collection-item">Valeriano Alves</li>
            <li class="collection-item">Sortino Silva</li>
            <li class="collection-item">Ontero Johnes</li>
        </ul>
        
        <blockquote>
            <h4>Barra</h4>
        </blockquote>
        
        <ul class="collection with-header z-depth-3">
            <li class="collection-header">
                <div class="row valign-wrapper" style="margin-bottom: 0;">
                    <div class="col s8">
                        <h4>Barra 1</h4>
                    </div>
                    <div class="col s4">
                        <a class="waves-effect waves-teal btn-flat modal-trigger" href="#modal-assign-territory">Assign</a>
                    </div>
                </div>
            </li>
            <li class="collection-item">Augusto Ferreira</li>
            <li class="collection-item">Valeriano Alves</li>
            <li class="collection-item">Sortino Silva</li>
            <li class="collection-item">Ontero Johnes</li>
        </ul>
    </div>
</div>



<!-- ABA 2 -->
<div id="dashboard" class="col s12">
    
    <div class="container">
        <blockquote>
            <h4>Barra</h4>
        </blockquote>
        
        <ul class="collection with-header z-depth-3">
            <li class="collection-header">
                <div class="row mb-0 valign-wrapper">
                    <div class="col s9">
                        <h4>Barra 1</h4>
                    </div>
                    <div class="col s3">
                        <a class="waves-effect waves-teal btn-flat">Received</a>
                    </div>
                </div>
            </li>
            <li class="collection-item">
                João, Fernando, Romeu, Carla
                <div class="right">
                    <div class="center">
                        <b> 2-7-18</b>
                    </div>
                </div>
            </li>
            <li class="collection-item">
                <div class="row valign-wrapper mb-0">
                    <div class="col s10">
                        João @ Rua Marquês de Caravelas, 55, Ed Montreal, Ap 3
                    </div>
                    <div class="col s2">
                        <div class="center">
                            <a href="#" class=" btn-flat waves-teal btn-flat">
                                see
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="collection-item center" style="padding: 0% 0% 0% 0%">
                <a href="#" class="btn-flat waves-effect waves-light" style="heigh: 100%; width: 100%;">
                    <span> + Add publisher</span>
                </a>
            </li>
        </ul>
        
        <ul class="collection with-header z-depth-3">
            <li class="collection-header">
                <div class="row mb-0 valign-wrapper">
                    <div class="col s9">
                        <h4>Barra 2</h4>
                    </div>
                    <div class="col s3">
                        <a class="waves-effect waves-teal btn-flat">Received</a>
                    </div>
                </div>
            </li>
            <li class="collection-item">
                João, Fernando, Romeu, Carla
                <div class="right">
                    <div class="center">
                        <b> 2-7-18</b>
                    </div>
                </div>
            </li>
            <li class="collection-item">
                <div class="row valign-wrapper mb-0">
                    <div class="col s10">
                        João @ Rua Marquês de Caravelas, 55, Ed Montreal, Ap 3
                    </div>
                    <div class="col s2">
                        <div class="center">
                            <a href="#" class=" btn-flat waves-teal btn-flat">
                                see
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="collection-item center" style="padding: 0% 0% 0% 0%">
                <a href="#" class="btn-flat waves-effect waves-light" style="heigh: 100%; width: 100%;">
                    <span> + Add publisher</span>
                </a>
            </li>
        </ul>
        
        <blockquote>
            <h4>Pelourinho</h4>
        </blockquote>
        
        <ul class="collection with-header z-depth-3">
            <li class="collection-header">
                <div class="row mb-0 valign-wrapper">
                    <div class="col s9">
                        <h4>Pelourinho 1</h4>
                    </div>
                    <div class="col s3">
                        <a class="waves-effect waves-teal btn-flat">Received</a>
                    </div>
                </div>
            </li>
            <li class="collection-item">
                João, Fernando, Romeu, Carla
                <div class="right">
                    <div class="center">
                        <b> 2-7-18</b>
                    </div>
                </div>
            </li>
            <li class="collection-item">
                <div class="row valign-wrapper mb-0">
                    <div class="col s10">
                        João @ Rua Marquês de Caravelas, 55, Ed Montreal, Ap 3
                    </div>
                    <div class="col s2">
                        <div class="center">
                            <a href="#" class=" btn-flat waves-teal btn-flat">
                                see
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="collection-item center" style="padding: 0% 0% 0% 0%">
                <a href="#" class="btn-flat waves-effect waves-light" style="heigh: 100%; width: 100%;">
                    <span> + Add publisher</span>
                </a>
            </li>
        </ul>
    </div>
    
</div>

<!-- Modal: Escolher irmãos para designar para endereço -->
<div id="modal-assign-territory" class="modal">
    <div class="modal-content">
        <h4>Assign Territory</h4> <br>
        <div class="input-field col s12">
            <select>
                <option value="" disabled selected>Choose name</option>
                <option value="1">Smith, A</option>
                <option value="2">Smith, B</option>
                <option value="3">Smith, C</option>
            </select>
            <label>Publisher 1</label>
        </div>
        <div class="input-field col s12">
            <select>
                <option value="" disabled selected>Only one</option>
                <option value="1">Smith, A</option>
                <option value="2">Smith, B</option>
                <option value="3">Smith, C</option>
            </select>
            <label>Publisher 2</label>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Send</a>
    </div>
</div>