<div class="container">
<h1>Characteristics</h1>


  <div class="row">
    <div class="col s6">
      <%= render 'macroregions/indexbody'%>
    </div>
    <div class="col s6">
      <%= render 'adrstypes/indexbody' %>
    </div>
  </div>
</div>