<h1>Cultures</h1>
<div class="container">
  <div class="row">
   <div class="col-sm">
      <h2>Nationalities</h1>
    </div>
     <div class="col-sm">
      <h2>Idioms</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <%= render 'nationalities/indexbody'%>
    </div>
    <div class="col-sm">
      <%= render 'idioms/indexbody'%>
    </div>
  </div>
</div>



