
<% content_for :header do %>

    <div class="navbar-fixed">
        <nav class="nav-extended navbar-dark indigo darken-2 z-depth-2">
            <div class="nav-wrapper">
                <a href="home.html" class="brand-logo">Hotels</a>
                <a href="#" data-target="slide-out" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a href="dashboard.html">Dashboard</a>
                    </li>
                </ul>
            </div>
            
        </nav>
    </div>

<% end %>

<div class="container">
    
</div>