
<%# content_for :header do %>
    <%# render "partials/navbar-home" %>
<%# end %>

		<!-- ABA 1 -->
		<div id="all" class="col s12" style="margin-top: 60px">
                <div class="container">
                    <div class="row">
                        <div class="col s12 m6">
                            <div class="card white">
                                <div class="card-content">
                                    <span class="card-title red-text"><b>DO NOT CALL</b></span>
                                    <h5>Barra</h5>
                                    <p>Rua princesa leopoldina, 252 - Marco (Italia)</p>
                                    <div class="divider"></div>
                                    <p>Rua princesa leopoldina, 252 - Marco (Italia)</p>
                                    <div class="divider"></div>
                                    <p>Rua princesa leopoldina, 252 - Marco (Italia)</p>
                                    <div class="divider"></div>
                                    <p>Rua princesa leopoldina, 252 - Marco (Italia)</p>
                                    <h5>Graça</h5>
                                    <p>Rua princesa leopoldina, 252 - Marco (Italia)</p>
                                    <div class="divider"></div>
                                    <p>Rua princesa leopoldina, 252 - Marco (Italia)</p>
                                    <div class="divider"></div>
                                    <p>Rua princesa leopoldina, 252 - Marco (Italia)</p>
                                    <div class="divider"></div>
                                    <p>Rua princesa leopoldina, 252 - Marco (Italia)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- ABA 2 -->
            <div id="assignments" class="col s12" style="margin-top: 60px">
                <div class="container" style="width: 95%">
                    
                    <div class="row">
                        <div class="col s12 m6">
                            <div class="card grey lighten-5 z-depth-2">
                                <div class="card-content indigo-text text-darken-4" style="padding: 18; padding-bottom: 0;">
                                    <span class="card-title">
                                        <div class="row">
                                            <div class="col s2" style="padding-left: 0%"><i class="material-icons Medium">location_on</i></div>
                                            <div class="col s10" style="vertical-align:middle;">
                                                <h4 style="margin-top: 0px"><b>Barra 1</b></h4>
                                            </div>
                                        </div>
                                    </span>
                                    <ul class="collapsible z-depth-0">
                                        <li>
                                            <div class="collapsible-header">
                                                <i class="material-icons">contacts</i>Rua Almeida Brandini, 57, Ed da Verdade, Ap 101
                                            </div>
                                            <div class="collapsible-body">
                                                <p>Name: John Doe</p> 
                                                <p>Country: American</p>
                                                <p>Ref: Close to the square</p>
                                                <p>Obs: Born in Italy</p> <br>
                                                <div>
                                                    <a class="waves-effect waves-light btn modal-trigger blue darken-3" href="#modal1">Report</a><span class="badge" >1</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header">
                                                <i class="material-icons">contacts
                                                </i>Rua Das Flores Azuis, 77, Ed Turismo, Ap 202
                                            </div>
                                            <div class="collapsible-body">
                                                <p>Name: John Doe</p> 
                                                <p>Country: American</p>
                                                <p>Ref: Close to the square</p>
                                                <p>Obs: Born in Italy</p> <br>
                                                <div>
                                                    <a class="waves-effect waves-light btn modal-trigger blue darken-3" href="#modal1">Report</a><span class="badge" >1</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    
                                </div>
                                
                                <div class="card-action">
                                    <a href="#" class="black-text waves-effect waves-teal btn-flat"><b>Done</b></a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                    <!-- Modal Structure -->
                    <div id="modal1" class="modal">
                        <div class="modal-content">
                            <h4>Add a report</h4> <br>
                            <div class="input-field col s12">
                                <textarea id="textarea1" class="materialize-textarea"></textarea>
                                <label for="textarea1">Your report</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Send</a>
                        </div>
                    </div>
                </div>
                
                <!-- Moda de adicionar endereço -->
                <div id="add-territory-modal" class="modal">
                    <div class="modal-content">
                        <h4>Add a new territory</h4> <br>
                        <div class="input-field col s12">
                            <textarea id="textarea-address" class="materialize-textarea"></textarea>
                            <label for="textarea-address">Address</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="textarea-reference" type="text" class="validate">
                            <label for="textarea-reference">Reference</label>
                        </div>
                        <div class="input-field col s12">
                            <textarea id="textarea-notes" class="materialize-textarea"></textarea>
                            <label for="textarea-notes">Notes</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Send</a>
                    </div>
                </div>
                
                <!-- Moda de adicionar endereço -->
                <div id="add-note-modal" class="modal">
                    <div class="modal-content">
                        <h4>Send a note to the system</h4> <br>
                        <div class="input-field col s12">
                            <textarea id="textarea-notes" class="materialize-textarea"></textarea>
                            <label for="textarea-notes">Your note</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Send</a>
                    </div>
                </div>
            
            </div>
            
            
            
            
        </main>
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large blue lighten-2">
                <i class="material-icons Large">add</i>
            </a>
            <ul>
                <li><a class="btn-floating blue modal-trigger" href="#add-note-modal"><i class="material-icons">border_color</i></a><b>Note</b></li>
                <li><a class="btn-floating blue modal-trigger" href="#add-territory-modal"><i class="material-icons">art_track</i></a><b>Adrs.</b></li>
            </ul>
        </div>