<p>
  <strong>Name:</strong>
  <%= @telephone.name %>
</p>
<p>
  <strong>Number:</strong>
  <%= @telephone.number %>
</p>
<p>
  <strong>Address:</strong>
  <%= @telephone.address_id %>
</p>

<%= link_to 'Back', telephones_path %>