<%= form_with(model: nationality, local: true) do |form| %>
 
  <p>
    <%= form.label :country %><br>
    <%= form.text_field :country %>
  </p>
  <p>
    <%= form.submit %>
  </p>
 
<% end %>